version: 2.1

orbs:
  python: circleci/python@0.2.1

jobs:
  build-and-test:
    executor: python/default
    steps:
      - checkout
      - python/load-cache
      - python/install-deps
      - run:
          command: |
            python setup.py install
            pip install pytest
      - python/save-cache
      - run:
          command: pytest -s
          name: Test

workflows:
  main:
    jobs:
      - build-and-test
